* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

button {
    width: 300px;
    height: 70px;
    color: beige;
    background: rgb(0, 102, 5);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    transition:  .2s;
}

button:hover{
    transform: rotate(-5deg);

}



